*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Montserrat', sans-serif;
  --fs-menu: 2rem;
  --fs-header: 1.75rem;
  --fs-title: 1.5rem;
  --fs-large: 1.25rem;
  --fs-body: 1rem;
  --fw-small: 400;
  --fw-reg: 500;
  --fw-bold: 700;

  --clr-background: #FFF;
  --clr-light: #FDFDFD;
  --clr-dark: #040404;
  --clr-footer: #38383C;
  --clr-accent: #AE524B;
}

/*
=============================================

Typography

=============================================
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  line-height: 1.7;
  letter-spacing: 1.5px;
  color: #000;
  font-size: var(--fs-body);
}

li {
  font-size: var(--fs-header);
  letter-spacing: 3px;
  color: var(--clr-dark);
  font-weight: var(--fw-reg);
}

h1, h2, h3, h4, p, button {
  margin: 0;
  padding: 0;
}

/* .homepage-title {
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
} */

.logo-name {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: var(--fw-reg);
  letter-spacing: 3px;
  margin-left: 0.5em;
}

.nav {
  font-weight: var(--fw-bold);
  font-size: var(--fs-menu);
}

.logo {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  margin-left: 0.4em;
  text-transform: uppercase;
}

.footer,
.footer-store-hours {
  font-weight: var(--fw-small);
  color: var(--clr-light);
  font-size: var(--fs-body);
}

.footer-logo {
  font-weight: var(--fw-bold);
  letter-spacing: 3px;
}

.copyright {
  font-size: 0.8rem;
  color: #82807E;
}

.footer-title {
  font-weight: var(--fw-small);
}

.cart-title {
  font-size: var(--fs-menu);
}

a:link {
  text-decoration: none;
}

input,
textarea,
.submit-btn,
.checkout-btn,
.loading-checkout-btn {
  font-family: var(--ff-primary);
  font-size: var(--fs-large);
  font-weight: var(--fw-small);
}

.submit-btn,
.checkout-btn,
.loading-checkout-btn,
.menu-btn {
  color: var(--clr-light);
  letter-spacing: 1.5px;
}

.contact-email {
  text-decoration: none;
  color: var(--clr-accent);
  font-weight: var(--fw-reg);
}

.order-item,
.homepage {
  font-size: var(--fs-large);
  font-weight: var(--fw-reg);
}

.homepage-intro-title {
  font-size: 2.5rem;
  font-weight: var(--fw-reg);
  letter-spacing: 2px;
}

.homepage-intro-column-2 p {
  font-size: var(--fs-title);
  line-height: 1.9;
}

.item-name,
.mini-menu-container {
  font-size: var(--fs-title);
}

.homepage-recruiting span {
  font-size: var(--fs-title);
}

.mini-menu-container h3 {
  font-size: var(--fs-header);
  font-weight: var(--fw-reg);
}

.homepage-recruiting,
.homepage-recruiting h2 {
  font-weight: var(--fw-small);
  font-size: var(--fs-menu);
}

.menu-link {
  text-decoration: underline;
  color: var(--clr-light);
  font-weight: var(--fw-small);
  font-size: var(--fs-title);
}

.recruiting-link {
  border-bottom: var(--clr-accent) 2px solid;
  color: var(--clr-accent);
}

.homepage-newsletter {
  font-size: var(--fs-body);
  font-weight: var(--fw-small);
}

.contact-page {
  line-height: 1.9;
}

.contact-page,
.contact-info-title {
  font-weight: var(--fw-reg);
  font-size: var(--fs-large);
}

.contact-info-title,
.checkout-subtotal {
  font-size: var(--fs-header);
}

.story-container h1 {
  font-size: 2.5rem;
  font-weight: var(--fs-reg);
}

.story-container p {
  font-size: var(--fs-large);
  line-height: 1.9;
}

.cart-page {
  font-weight: var(--fw-reg);
  font-size: var(--fs-large);
}

.menu-category {
  font-size: var(--fs-large);
  text-transform: uppercase;
  font-weight: var(--fw-small);
  letter-spacing: 3px;
}

.menu-item-container {
  font-size: var(--fs-title);
  line-height: 2.5;
}

.mini-menu-item-container  {
  font-weight: var(--fw-small);
  font-size: var(--fs-body);
}

.mini-menu-item-container
.menu-item-container   {
  font-weight: 0.9rem;
  font-size: var(--fs-large);
}

.menu-item-description {
  font-size: var(--fs-body);
  line-height: 2;
}

.active-filter {
  font-weight: var(--fw-bold);
}

/*
=============================================

Layout

=============================================
*/

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-background);
}

main {
  margin: 5em 3em 1em;
}

.homepage {
  margin: 0;
}

.homepage-newsletter {
  display: flex;
  justify-content: center;
  background: #CC0200;
  color: #FFF;
  padding: 1em;
}

.homepage-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FFF9EF;
  padding: 0 3em;
}


.homepage-intro-title {
  max-width: 18em;
  text-align: center;
  margin: 4em auto;
}

.homepage-intro-column-2 {
  display: flex;
  justify-content: space-between;
  margin: 4em 2em;
}

.homepage-intro-column-2 img {
  width: 40%;
  margin-left: 1em;
  object-fit: cover;
  object-position: center;
}

.homepage-intro-column-2 p {
  max-width: 14em;
  align-self: center;
}

.homepage-recruiting {
  background-color: #FFF9EF;
  width: 80%;
  margin: 2em auto;
  padding: 2em;
}

.homepage-recruiting h2 {
  margin: 1.5em 0;
  max-width: 16em;
}

.menu-link:hover {
  cursor: pointer;
  color: var(--clr-accent);
}

.mini-menu-container {
  background: var(--clr-footer);
  color: var(--clr-light);
  padding: 2em 4em;
}

.mini-menu-item-container .menu-item-container {
  border: none;
  padding: 1em 0;
}

input,
textarea {
  padding: 0.75em;
  margin-bottom: 1.5em;
  border-radius: 5px;
  border-style: none;
  border: #E5E5E5 1px solid;
  background-color: #FAFAFA;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #FFF;
  padding: 3em 0 1em;
  transform: translateX(-100%);
  transition: transform 200ms cubic-bezier(.5, 0, .5, 1);
}

.navlist {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav a {
  color: #000;
}

li {
  padding: 0.25em 0;
}

.large-screen-navlist {
  display: flex;
  flex-direction: row;
  width: 550px;
  justify-content: space-between;
}

.large-screen-nav {
  display: none;
  padding: 0.5em;
}

span {
  display: block;
}

header {
  display: flex;
  justify-content: center;
  padding-bottom: 0.25em;
}

.logo-container {
  margin-top: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  min-width: 230px;
}

.nav-toggle {
  background: transparent;
  padding: 1em;
  cursor: pointer;
  border: none;
  position: absolute;
  z-index: 101;
  top: 1em;
  left: 0.5em;
}

.nav-open .nav {
  transform: translateX(0)
}

.nav-open .nav-toggle,
.nav-open .cart-icon,
.nav-open .logo-container {
  position: fixed;
}

.cart-icon {
  position: absolute;
  right: 0.9em;
  top: 0.9em;
  z-index: 100;
  transform: scale(1);

}

.cart-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 250ms ease-in-out;
}

.nav-open .hamburger {
  transform: rotate(.625turn);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.nav-open .hamburger:before {
  transform: rotate(90deg) translateX(-6px);
}

.hamburger:hover {
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.hamburger {
  position: relative;
  display: block;
}

.hamburger,
.hamburger:before,
.hamburger:after {
  width: 2em;
  height: 3px;
  background: var(--clr-dark);
  border-radius: 1em;
}

.hamburger:before {
  top: 6px;
}

.hamburger:after {
  bottom: 6px;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  text-align: center;
  align-items: center;
  margin: 0;
}

.footer {
  background-color: var(--clr-footer);
  padding: 3em 2em 4em;
  margin: 4em 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 1000px; */
}

.footer-title {
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}

.footer-store-hours {
  display: grid;
  grid-template: minmax(2em, 3em) minmax(14em,16em);
  gap: 0.7em 1.5em;
  max-width: fit-content;
}

.footer-hours,
.footer-address {
  width: 50%;
}

.footer-hours {
  padding-left: 0.5em;
}

.footer-social {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 1.5em 0 3em;
}

.fa-brands {
  font-size: 1.5rem;
}

.hours {
  grid-column: 1/ 3;
}

.icon-container {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 7em;
}

.day-row-1,
.day-row-2,
.day-row-3 {
  grid-column: 1/2;
  margin: 0;
}

.hours-row-1,
.hours-row-2,
.hours-row-3 {
  grid-column: 2/3;
  margin: 0;
}

/* menu page */

.menu-page {
  padding-bottom: 3em;
}

.menu-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}

.menu-photo {
  height: 52vh;
  object-fit: cover;
  object-position: center;
}

.menu-item-container {
  border-bottom: #000 1px solid;
  padding: 2.5em 0;
}

.menu-category {
  margin: 6em 0 -1em;
}

.menu-category:first-child {
  margin-top: 4em;
}


/*

Buttons and list items

*/

.submit-btn,
.checkout-btn,
.loading-checkout-btn {
  padding: 1em;
  background-color: var(--clr-accent);
  border-radius: 3px;
  border: none;
  margin-top: 1.25em;
}

.submit-btn {
  width: 220px;
  align-self: center;
}

.submit-btn:hover,
.submit-btn:focus,
.cart-item-btn:focus,
.cart-item-btn:hover,
.checkout-btn:hover,
.checkout-btn:focus,
li:hover,
li:focus {
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 250ms linear;
}

.order-btn, li,
.cart-item-btn,
.cart-item-btn,
.cart-item-btn {
  transform: scale(1);
  transition: transform 2s ease-in-and-out;
}

.order-btn:hover,
.order-btn:focus,
li:hover,
li:focus {
  cursor: pointer;
  transform: scale(1.1);
}

.active {
  border-bottom: 1.5px #000 solid;
}

.active:hover {
  cursor: none;
  transition: none;
  transform: none;
  opacity: 1;
}

/*

Order-items


*/

.order-category {
  display: flex;
  margin: 3em 0;
}

.category-items {
  padding-right: 0.75em;
  margin-left: 1em;
  border-right: #E5E5E5 1px solid;
  cursor: pointer;
}

.category-items:first-child {
  margin-left: 0;
}

.category-items:last-child {
  border-right: none;
}

.order-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  margin-bottom: 2em;
}

.item-image {
  width: 100%;
  order: -1;
  object-fit: cover;
  margin-bottom: 1em;
}

.item-price,
.item-description {
  margin: 0.25em 0;
}

.item-price {
  margin-bottom: 0.75em;
}

.item-description {
  text-align: center;
  max-width: 26em;
}

.added-cart-btn,
.cart-btn-hover {
  font-family: var(--ff-primary);
  font-weight: var(--fw-reg);
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.9rem;
  padding: 0.7em;
  margin-top: auto;
}

.added-cart-btn {
  border: 2px solid #6FAE40;
  color: #6FAE40;
}

.cart-btn-hover {
  position: relative;
  border: 2px solid #000;
  color: #000;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.cart-btn-hover span {
  transition: all 0.2s ease-in-out;
}

.cart-btn-hover .fa {
  position: absolute;
  font-size: 1.2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--clr-accent);
  right: -35px;
  transition: 0.4s right cubic-bezier(0.38, 0.6, 0.48, 1);
}

.cart-btn-hover:hover {
  border-color: var(--clr-accent);
  background: transparent;
  transition: border-color 0.2s;
}

.cart-btn-hover:hover span {
  margin-right: 30px;
  color: var(--clr-accent);
}

.cart-btn-hover:hover .fa {
  right: 10px;
}


/* Cart */

.cart-page {
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  width: 90%;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-title {
  margin-bottom: 1.5em;
}

.cart-item-container {
  display: flex;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: #E5E5E5 1px solid;
}

.item-quantity-container {
  grid-area: quantity;
  display: flex;
  align-items: flex-end;
}

.cart-item-image {
  width: 25%;
  object-fit: cover;
  margin-right: 2em;
}

.cart-item-info {
  width: 75%;
  padding: 0 0.5em;
  display: grid;
  gap: 1em;
  grid-template-areas:
  "title button"
  "quantity price";
  grid-template-columns: 60% 1fr;
}

.cart-item-name {
  grid-area: title;
}

.cart-item-total,
.cart-item-quantity,
.cart-item-btn {
  display: flex;
}

.cart-item-total,
.cart-item-btn {
  justify-self: flex-end;
}

.cart-item-quantity,
.cart-item-total {
  align-self: flex-end;
}

.cart-item-quantity {
  background-color: white;
  border: none;
  margin: 0 0.5em;
  padding: 0.25em;
  width: 3em;
  text-align: center;
}

.cart-item-total {
  grid-area: price;
}

.cart-item-btn {
  grid-area: button;
  padding: 0.3em;
}

.cart-item-icon {
  box-sizing: content-box;
  margin-bottom: 0.2em;
  padding: 0.3em;
}

.cart-item-icon:hover,
.cart-item-btn:hover {
  background-color: #E5E5E5;
  cursor: pointer;
  border-radius: 50%;
}

.checkout-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.fa-cart-plus {
  color: var(--clr-light);
  grid-column: 2/3;
  grid-row: 4/5;
}

/* Contact page */

.contact-page {
  margin: 4em 2em 1em;
  display: flex;
  flex-direction: column;
}

.contact-hours {
  text-align: right;
}

.contact-info {
  max-width: 16em;
}

.contact-info-container {
  display: flex;
  justify-content: space-between;
  margin-right: 2em;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.contact-info-title {
  margin-bottom: 1em;
}

.contact-info span:nth-child(3),
.contact-info span:nth-child(7),
.contact-info span:last-child,
.contact-add-info {
  margin-bottom: 3em;
}

.contact-add-info {
  max-width: 25em;
}

.contact-img {
  height: 300px;
  max-width: 180px;
  object-fit: cover;
  border-radius: 2px;
}

label {
  margin-bottom: 0.5em;
}

textarea {
  min-height: 8em;
}

/* our story */
.story-page {
  margin: 3em 0 0;
}

.story-img {
  height: 45vh;
  object-fit: cover;
  object-position: 0% 40%;
}

.story-img-1 {
  animation: slidein-1 2s ease-in-out;
}

.story-img-2 {
  animation: slidein-2 2s ease-in-out;
}

.story-container {
  margin: 4em 3em;
}

.story-info {
  width: 95%;
  margin: 0 auto 4em;
}

.story-container p {
  max-width: 22em;
  margin: 1.5em 0;
}

.story-img-container {
  display: flex;
  margin: 2em 3em;
  justify-content: space-between;
}

.story-img-container img {
  height: 27em;
  object-fit: cover;
  width: 48.5%;
}

.story-img-container img:last-child {
  margin-top: 9em;
}

.story-page strong {
  color: var(--clr-accent)
}

@media (min-width: 850px) {
  .nav {
    margin: 0;
    padding: 0.5em 1em;
    display: flex;
  }

  .logo {
    font-size: 1.2rem;
    margin-right: 0.4rem;
  }

  .navlist {
    display: flex;
    flex-direction: row;
    width: 36em;
    justify-content: space-between;
  }

  li {
    font-size: 1rem;
    letter-spacing: 2px;
  }

  main {
    margin-top: 5em;
  }

  .cart-item {
    max-width: 800px;
  }

  .menu-photo {
    height: 92vh;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 4em 2em 2em;
  }

  .footer-container {
    align-self: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-width: 600px;
  }

  .footer-address,
  .footer-social {
    width: 30%;
  }

  .footer-hours {
    width: 35%;
  }

  .footer-hours {
    padding-left: 1em;
  }

  .footer-social {
    margin: 0;
  }

  .copyright {
    align-self: center;
    margin-top: 4em;
  }

  .order-page {
    margin: 7em 2em;
    display: flex;
  }

  .order-category {
    flex-direction: column;
    margin: 0 6em 0 0;
    min-width: 9em;
  }

  .category-items {
    margin: 0.5em 0;
    border-right: 0;
  }

  .category-items:first-child {
    margin-top: 0;
  }

  .order-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .order-item {
    width: 32.5%;
  }

  .item-name {
    font-size: var(--fs-large);
  }

  .item-description,
  .item-price {
    font-size: var(--fs-body);
  }

  .item-price {
    font-weight: var(--fw-reg);
  }

  .nav-toggle {
    display: none;
  }

  .large-screen-nav {
    display: block;
  }

  .logo-container {
    margin-top: 0.25em;
    order: -1;
  }

  .large-screen-nav li {
    padding-top: 0.7em;
  }

  .cart-icon {
    margin-top: 0.1em;
    margin-right: 0.1em;
  }

  header {
    justify-content: flex-start;
  }

}

@media (min-width: 900px) {
  .contact-page {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-info-container {
    width: 50%;
    margin-right: 2em;
  }

  .form-align {
    margin-left: auto;
    width: 90%;
  }

  .contact-additional {
    width: 50%;
  }

  form {
    max-width: 550px;
  }

  .item-description {
    max-width: 22em;
  }

  .story-container {
    display: grid;
    grid-template-rows: 7em 6em 17em 15em;
    grid-template-columns: 50% 50%;
  }

  .story-title,
  .story-paragraph-1,
  .story-paragraph-2 {
    grid-column: 1/2;
  }

  .story-title {
    grid-row:  2/3;
  }

  .story-paragraph-1 {
    grid-row: 3/4;
  }

  .story-paragraph-2 {
    grid-row: 4/5;
  }

  .story-img-container {
    grid-row: 1/4;
    grid-column: 2/3;
  }

  .checkout-btn {
    /* display: flex; */
    width: 200px;
    align-self: flex-end;
  }

  .cart-title {
    font-size: var(--fs-header);
  }

  .cart-item-info {
    display: flex;
    justify-content: space-between;
  }

  .item-quantity-container {
    order: 2;
    align-items: flex-start;
  }

  .cart-item-total {
    order: 3;
  }

  .cart-item-btn {
    order: 4;
  }

  .cart-item-quantity,
  .cart-item-total {
    align-self: flex-start;
  }
}

@keyframes slidein-1 {
  from {
    transform: translateY(-25%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slidein-2 {
  from {
    transform: translateY(25%);
  }
  to {
    transform: translateY(0);
  }
}