*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Montserrat', sans-serif;
  --fs-title: 2;
  --fs-subtitle: 1.5;
  --fs-body: 1.125;
  --fw-reg: 400;
  --fw-bold: 700;

  --clr-light: #ad8a01;
  --clr-dark: #000D24;
  --clr-accent: #9C4200;
}

/*
=============================================

Typography

=============================================
*/
body {
  font-family: var(--ff-primary);
  line-height: 1.7;
  letter-spacing: 1.5px;
  color: #FFF;
}

li {
  font-size: var(--fs-title);
  letter-spacing: 3px;
  color: var(--clr-light);
  font-weight: var(--fw-bold);
}

h3, h4, button {
  margin: 0;
}

.order-btn {
  font-family: var(--ff-primary);
  font-size: var(--ff-title);
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
}

.homepage-title {
  font-size: 3rem;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.navigation {
  font-weight: var(--fw-bold);
}

.item-name {
  font-size: var(--fs-subtitle);
}

.item-description {
  font-size: var(--fs-body);
}

.item-price {
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-reg);
}

a:link {
  text-decoration: none;
  text-transform: uppercase;
}

/*
=============================================

Layout

=============================================
*/

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

main {
  margin-top: 10em;
}

.homepage {
  /* background-color: #a5975b; */
  background-color: #a89f70;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.homepage-title {
  text-align: center;
}

.navigation {
  margin: 0 auto;
  padding: 1.5em;
  background-color: var(--clr-dark);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  text-align: center;
  align-items: center;
  margin: 0;
}

/*

Buttons and list items

*/

.order-btn {
  padding: 0.75em 2em;
  background-color: var(--clr-dark);
  border-radius: 3px;
  border: none;
}

.order-btn, li, .fa-cart-shopping {
  transform: scale(1);
  transition: transform 250ms;
}

.order-btn:hover,
.order-btn:focus,
li:hover,
li:focus {
  cursor: pointer;
  transform: scale(1.1);
}

.fa-cart-shopping:hover,
.fa-cart-shopping:focus {
  cursor: pointer;
  transform: scale(1.4);
}

.order-btn:hover,
.order-btn:focus {
  color: var(--clr-light)
}

.fa-cart-shopping {
  color: var(--clr-accent);
  position: absolute;
  top: 1em;
  right: 1.25em;
  font-size: 1.25rem;
}

/*

Menu-items

*/

.menu-container, .cart-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 10em auto 0;
  padding: 2.5em;
  gap: 1.5em;
}

.menu-item {
  display: grid;
  padding: 2em;
  grid-template-areas:
    "name photo"
    "description photo"
    "tags photo"
    "price cart";
  column-gap: 2em;
  background-color: #131e30;
  border-radius: 5px;
}

.item-name {
  grid-area: name
}

.item-desc {
  grid-area: description
}

.item-tags {
  grid-area: tags
}

.item-price {
  grid-area: price
}

.item-image {
  grid-area: photo;
  max-width: 100%;
  min-width: 80px;
  min-height: 150px;
  object-fit: cover;
}

.fa-cart-plus {
  grid-area: cart;
  color: var(--clr-light);
}

.menu-item:hover {
  cursor: pointer;
}

@media (min-width: 650px) {
  .navigation {
    margin: 0;
    display: flex;
  }

  .menu-bar {
    display: flex;
    flex-direction: row;
    width: 30em;
    justify-content: space-between;
  }

  li {
    font-size: 1rem;
  }

  main {
    margin-top: 5em;
  }

  .menu-container, .cart-container {
    margin: 4em auto 0;
  }

  .fa-cart-shopping {
    font-size: 1.5rem;
  }
}
